1. Todos los números divisibles por 6 del 1 al 60.

In [70]:
D6 = []
for i in range(0,61):
  if i%6==0:
   D6.append(i)
D6

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

2. Todos los nombres que empiecen por "A" de una lista de nombres

In [77]:
n = ["Armando", "Jose", "Miguel", "Abel", "Juana", "Ana"]
Na=[]
for nombre in n:
  if nombre.startswith("A"):
    Na.append(nombre)
Na

['Armando', 'Abel', 'Ana']

3. Todos los números primos entre 0 y 70

In [91]:
def p(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

primos = []
for i in range(2, 71):
    if p(i):
        primos.append(i)

primos

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]